<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <span>&copy</span>2010 R Pratap Chakravarthy
      </div>
    </div>

  </div>

  <div class="chat-on-irc">
	<a href="https://www.irccloud.com/invite?channel=%23room7&amp;hostname=irc.mozilla.org&amp;port=6697" target="_blank"><img src="https://img.shields.io/badge/IRC-%23room7-1e72ff.svg?style=plastic"  height="40"></a>
  </div>

  <script>
    for(let h of document.querySelectorAll('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]')) {
        h.innerHTML += ` <a href="#${h.id}" aria-hidden="true">#</a>`;
    }
  </script>
</footer>


