<footer class="site-footer">
  <table style="padding: 0px"><tr>
    <td style="width:10%; text-align:left;">
      <a href="https://github.com/prataprc"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/prataprc"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
    </td>
    <td style="width: 60%; text-align: center;">Thoughts · Ideas · Code</td>
    <td style="text-align: right; font-size: 70%">©2010 R Pratap Chakravarthy</td>
  </tr></table>
</footer>



