<header id="scroll-header">
  <table><tr>
    <td style="width:60%;">
      <a title="Home" href="/" style="text-decoration: none;">
        <i class="fa fa-cog fa-spin fa-fw fa-2x" aria-hidden="true"></i>
        <span id="site-title">Miles to go ...</span>
      </a>
   </td>
    <td>
      <nav style="text-align:right; vertical-align:middle;">
        <a title="Home" href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
        <a title="Projects" href="/projects.html"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
        <a title="Connect" href="/connect.html"><i class="fa fa-handshake-o fa-lg" aria-hidden="true"></i></a>
        <a title="About me" href="/about.html"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></a>
      </nav>
    </td>
  </tr></table>
</header>

