<header id="scroll-header">
  <table><tr>
    <td style="width:60%;">
      <i class="fa fa-cog fa-spin fa-fw fa-2x" aria-hidden="true"></i>
      <span id="site-title">Miles to go ...</span>
   </td>
    <td>
      <nav style="text-align:right; vertical-align:middle;">
        <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-flask fa-gl" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-handshake-o fa-gl" aria-hidden="true"></i></a>
        <a href="/about.html"><i class="fa fa-info-circle fa-gl" aria-hidden="true"></i></a>
      </nav>
    </td>
  </tr></table>
</header>

