<script>
    if ($("#arithmetic-operation").length == 1) {
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#add");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#sub");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#mul");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#div");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#rem");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#neg");
        $("div#tab-arithmetic").tabs();

        $("article.post > table:nth-of-type(1)").detach().appendTo("div#shl");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#shr");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#bitand");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#bitor");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#bitxor");
        $("div#tab-bitwise").tabs();

        $("article.post > table:nth-of-type(1)").detach().appendTo("div#and");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#or");
        $("article.post > table:nth-of-type(1)").detach().appendTo("div#not");
        $("div#tab-logical").tabs();
    }
</script>
